{% extends "base.html" %} {% block title %}WME Change password{% endblock %} {%
block content %}
<div>
  <h5 class="mb-5">This is an app for change your WME office 365 password</h5>
  <h6 class="mb-5">Sign in to continue</h6>
  <form action="" method="POST" novalidate>
    {{ form.csrf_token }}
    <input
      type="hidden"
      name="redirect"
      value="{{request.args.get('redirect','')}}"
    />
    <div class="form-outline mb-3">
      {{form.email(class_="form-control form-control-lg")}}
      {{form.email.label(class_="form-label")}}
    </div>

    <div class="form-outline mb-3">
      {{form.password(class_="form-control form-control-lg")}}
      {{form.password.label(class_="form-label")}}
    </div>

    <div class="mb-3">{{form.recaptcha}}</div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert alert-danger mt-3" role="alert">{{message}}</div>
  {% endfor %} {% endif %} {% endwith%}
</div>

{% endblock %}
