{% extends "base.html" %}
{% block title %}WME Change password{% endblock %}
{% block content %}
    <p>This is an app for change your WME office 365 password</p>
    <p>Sign in to continue,</p>
    <form action="" method="POST" novalidate>
        {{ form.csrf_token }}
        <p>{{form.email.label}}</p>
        <p>{{form.email}}</p>

        <p>{{form.password.label}}</p>
        <p>{{form.password}}</p>
        <p>
            {{form.recaptcha}}

        </p>
        <p><button type="submit">Sign in</button></p>

    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}
{% endblock %}