{% extends "base.html" %} {% block title %}WME Change password{% endblock %} {%
block content %}
<div>
  <h5 class="mb-5">Please input email address and password to print</h5>
  <form action="" method="POST" novalidate>
    {{ form.csrf_token }}
    <div class="form-outline mb-4">
      {{form.user_email(class_="form-control form-control-lg")}}
      {{form.user_email.label(class_="form-label")}}
    </div>
    <div class="form-outline mb-4">
      {{form.username(class_="form-control form-control-lg")}}
      {{form.username.label(class_="form-label")}}
      <div class="form-helper"><small>Will be fix soon, should be coming from LDAP</small></div>
      
    </div>

    <div class="form-outline mb-4">
      {{form.user_password(class_="form-control form-control-lg")}}
      {{form.user_password.label(class_="form-label")}}
    </div>
      <a href="{{url_for('index')}}" class="btn btn-dark">Cancel</a>
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </form>

  {% with messages = get_flashed_messages(with_categories=True) %} 
    {% if messages %} 
        {% for category, message in messages %}
            <div class="alert alert-{{category}} mt-3" role="alert">{{message}}</div>
        {% endfor %} 
    {% endif %}
  {% endwith%}
</div>

{% endblock %}
